ul {
  list-style-type: none;
}

body {
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
  font-size: 30px;
}

.container {
  max-width: 1350px;
  margin: 0 auto;
}

.header {
  padding: 50px;
}

.header__score {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.hero__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.hero__card {
  width: 150px;
  height: 180px;
  display: flex;
  align-items: center;
  border: solid red;
  justify-content: center;
  background-color: black
}

.hero__img {
  opacity: 0;
  width: 100%;
  aspect-ratio: 4/5;
  object-fit: cover;
  transition: transform .3s ease-in-out,
              opacity .3s ease;
}

 .hero__img.active {
  opacity: 1;
  pointer-events: none;
}

